<div class="content-wrapper in">
	<div class="offset-md-1 col-md-10">
	{% if content.field_image|render %}
		<div class="image">
			<img src="{{content.field_image|field_value}}" class="img-fluid">
		</div>
	{% endif %}
	{% if content.field_fecha|render %}
	<div class="item date">
		{{content.field_fecha|field_value}}
	</div>
	{% endif %}
	{% if content.body|render %}
	<div class="item body">
		{{content.body|field_value}}
	</div>
	{% endif %}
	{% if content.field_subir_video|render %}
	<video width="100%" poster="{{content.field_imagen_del_video_subido|field_value}}" controls preload="metadata">
		  <source src="{{content.field_subir_video|field_value}}" type="video/mp4">
		Your browser does not support the video tag.
		</video>
	{% endif %}
	{% if content.field_video|render %}
	<div class="item video">
		{{content.field_video}}
	</div>
	{% endif %}

	{% if content.field_infografia|render %}
	<div class="item gal">
		<div id="carouselblog" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		  	{% for item in 0..(content.field_infografia|field_value|length - 1) %}
		  		{% if loop.first %}
		  			<li data-target="#carouselblog" data-slide-to="{{item}}" class="active"></li>
		  		{% else %}
		  			<li data-target="#carouselblog" data-slide-to="{{item}}"></li>
		  		{% endif %}
		  		
		  	{% endfor %}
		  </ol>
		  <div class="carousel-inner">
		  	{% for item in content.field_infografia|field_value %}
		  		{# {{dump(item["#markup"])}} #}
		  		{% if loop.first %}
			        <div class="carousel-item active">
		      		<img src="{{item["#markup"]}}" class="d-block w-100" >
		      		</div>
			    {% else %}

		  		<div class="carousel-item ">
		      		<img src="{{item["#markup"]}}" class="d-block w-100" alt="E">
		    	</div>
		    	{% endif %}
		  	{% endfor %}
		  </div>
		  <a class="carousel-control-prev" href="#carouselblog" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselblog" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div> {# fin #}
	{% endif %}
	</div>
	
</div>